{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %} Login {% endblock %}

{% block navbar %}
<!-- Navigation -->
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="/"><img src="static/logo.png"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('student.dashboard') }}">Zapisy</a>
                </li>
                <li class="nav-item">
                    {% if current_user.is_authenticated %}
                    <a class="nav-link" href="{{ url_for('user.logout') }}">Wyloguj sie</a>
                    {% else %}
                    <a class="nav-link" href="{{ url_for('user.login') }}">Zaloguj sie</a>
                    {% endif %} 
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('student.results') }}">Odpowiedzi</a>
              </li>
                <li class="nav-item">
                    <a class="nav-link" href="#features">Informacje</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#clients">Klienci</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contact">Kontakt</a>
                </li>
            </ul>
        </div>
    </nav><!-- End Navigation -->
{% endblock navbar%}

{% block name_form %}
  <div class="captionForms text-center">
    
    <h1>Czesc {{ user_name }}</h1>
    <h3>Lista Prowadzacych do ktorych mozesz sie zapisac</h3>
    
        
    <!-- <div class="center_div  ">
      <form method = "post">
        {% for user in users %}
        <p>{{ user.username }}</p>
        <button type="submit" value="{{ user.email }}" name="email">Example</button>
        {% endfor %}
    </div> -->
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">Imie</th>
          <th scope="col">Nazwisko</th>
          <th scope="col">Email</th>
          <th scope="col">Data</th>
          <th scope="col">Zapisz sie</th>
        </tr>
      </thead>
      <tbody>
        {% for user in users %}
        <tr>
          <td>{{ user.name }}</td>
          <td>{{ user.surname }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.date }} {{ user.time }}-{{ user.end_time}}</td>
          <td>
            <form method = "post"> 
              <button type="submit" class="btn btn-outline-light btn-lg" value="{{ user.email }}" name="email">Zapisz</button>
            </form>
          </td>
        </tr>
        
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}


