{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %} Pomocnik Profesora {% endblock %}

{% block navbar %}
<!-- Navigation -->
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" ><img src="static/logo.png"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
            <span class="navbar-toggler-icon" data-toggle="collapse"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <form action = "{{ url_for('teacher.changeEntryHours')}}" method = "post"> <a class="nav-link" href="{{ url_for('teacher.changeEntryHours')}}">Zmień dyżur</a></form>
                        <!-- <input type="text" name="roomId" value="{{roomId}}">
                        <input type="text" name="roomAuthtoken" value="{{roomAuthtoken}}"> -->
                    <!-- <a class="nav-link" href="{{ url_for('teacher.changeEntryHours', roomId=roomId)}}">Zmień dyżur</a> -->
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#features">Informacje</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#clients">Klienci</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contact">Kontakt</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://s153070.projektstudencki.pl/lobby">Wróc do Wykłady Webowe</a>
                </li>
            </ul>
        </div>
    </nav><!-- End Navigation -->
{% endblock navbar%}


{% block name_form %}
  <div class="captionForms text-center">
    <h1>Witaj {{ teacher.name }}</h1>
    <h3>Oto lista zapisanych do Ciebie studentów</h3>
        <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">Imię Studenta</th>
                <th scope="col">Nazwisko Studenta</th>
                <th scope="col">Email Studenta</th>
                <th scope="col">Data</th>
                <th scope="col">Powód</th>
                <th scope="col">Decyzja</th>
              </tr>
            </thead>
            <tbody>
              {% for entry in entries %}
              <tr>
                <td>{{ entry.student_name }}</td>
                <td>{{ entry.student_surname }}</td>
                <td>{{ entry.student_email }}</td>
                <td>{{ entry.date }} {{ entry.time }}-{{ entry.end_time }} </td>
                <td>{{ entry.reason }}</td>
                <td>
                    {% if entry.decision == 1 %}
                        <a>Zaakceptowano</a>
                    {% elif entry.decision == 2 %}
                        <a>Odmowa</a>
                    {% else %}
                    <form method = "post">
                        <button type="submit" class="btn btn-outline-light btn-lg" value="{{ entry.id }}" name="accept">Zaakceptuj</button>
                        <button type="submit" class="btn btn-outline-light btn-lg" value="{{ entry.id }}" name="decline">Odmow</button>
                    </form>
                    {% endif %}
                </td>
              </tr>
              </tbody>
              {% endfor %}
        </table>

  </div>
  {% endblock name_form%}


