{% extends "layout.html" %}
{% block content %}

    <div class="container-fluid" >
        <div class="row" style="margin-top: 40px">
            <div class="col-sm-6">
                <ul>
                    <li class="col-sm-6"><a href="/login" class="btn form-control btn-success">Login</a></li>
                    <li class="col-sm-6"><a href="/register_teacher" class="btn form-control btn-primary">Register Teacher</a></li>
                    <li class="col-sm-6"><a href="/register_student" class="btn form-control btn-primary">Register Student</a></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock content %}