{% extends "layout.html" %}
{% block content %}
    <div class="container">
        <div class="row" style="margin-top: 40px">
            <div class="col-sm-6">
                <form method="POST">
                    <div class="form-group">
                      <label for="email">Email: </label>
                      <input type="text" name="email" class="form-control" id="email">
                    </div>
                    <div class="form-group">
                      <label for="email">Password : </label>
                      <input type="password" name="passw" class="form-control" id="passw">
                    </div>
                    <button type="submit" class="btn form-control btn-default">Loginn</button>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}
